/* header */

@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans Left Oblique.ttf');
}

.header {
    height: 55px;
}

.header-wrapper {
    width: 800px;
    height: 55px;
}

.header-nav__list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.header-nav__item a {
    font-family: "Saiyan-Sans";
    color: #000;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.5s;
}

.header-nav__item {
    margin-left: 30px;
}

.header-nav__item:first-child {
    margin: 0;
}

.header-nav__item a:hover {
    background-color: #EF7400;
    transition: 0.5s;
}

.hamburger-btn {
    display: none;
}

.header .hamburger-nav {
    display: none;
}

.footer p {
    color: #EF7D01;
}


@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        height: 45px;
    }

    .header-wrapper {
        width: 100%;
        height: 45px;
    }

    .header-logo {
        font-size: 25px;
    }

    .header-nav {
        display: none;
    }

    .hamburger-btn {
        display: block;
        margin-bottom: 10px;
    }


    /* ハンバーガーメニュー */
    .hamburger-btn {
        /*ボタン内側の基点となるためrelativeを指定。
    追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
        border-radius: 5px;
    }

    /*ボタン内側*/
    .hamburger-btn span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 2px;
        border-radius: 5px;
        background: #EF7D01;
        width: 45%;
    }


    .hamburger-btn span:nth-of-type(1) {
        top: 13px;
    }

    .hamburger-btn span:nth-of-type(2) {
        top: 19px;
    }

    .hamburger-btn span:nth-of-type(3) {
        top: 25px;
    }

    .hamburger-btn span:nth-of-type(3)::after {
        content: "Menu";
        /*3つ目の要素のafterにMenu表示を指定*/
        position: absolute;
        top: 5px;
        left: 1px;
        color: #EF7D01;
        font-size: 0.6rem;
        font-family: 'Saiyan-Sans';
        text-transform: uppercase;
    }

    /*hamburger-btn--activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

    .hamburger-btn.hamburger-btn--active span:nth-of-type(1) {
        top: 14px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .hamburger-btn.hamburger-btn--active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger-btn.hamburger-btn--active span:nth-of-type(3) {
        top: 26px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

    .hamburger-btn.hamburger-btn--active span:nth-of-type(3)::after {
        content: "Close";
        /*3つ目の要素のafterにClose表示を指定*/
        transform: translateY(0) rotate(-45deg);
        top: 5px;
        left: 4px;
    }

    .hamburger-nav {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 100vh;
        text-align: center; 
        opacity: 0.85;
        z-index: 998;
        overflow: hidden;
        transition: 0.5s;
        margin-right: 5px;
    }

    .hamburger-menu {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        transition: 0.5s; 
        background: #000;
    }

    .hamburger-menu__item {
        margin: 0;
    }

    .hamburger-menu__item a {
        text-decoration: none;
        font-family: 'Saiyan-Sans';
        font-size: 30px;
        color: #EEEEEE;
        padding: 16% 100px;
    }

}