
.main {
    width: 850px;
    margin: auto;
    margin-top: 60px;
}

.character {
    display: flex;
    justify-content: space-between;
}

.chartRadar {
    /* position: absolute;
    bottom: 0; */
    width: 240px;
    height: 200px;
    border-radius: 5px;
    border: 1px dotted #EEEEEE;
}

.myChart {
    height: 200px !important;
    width: 240px !important;
    object-fit: contain;
}

.characterTitle {
    /* color: 	#FFF803; */
    text-shadow: 0 -1px 0px #F9A355, -1px 0 0px #F9A355, 1px 0px 0px #F9A355, 0 1px 0px #F9A355, 0 3px 0 #F9A355, 3px 0 #F9A355, 3px 3px 0 #F9A355;
    font-size: 18px;
    margin-bottom: 5px;
}

/* swiper */
.swiper {
    width: 410px;
    height: 450px;
    position: static;
}

.swiper-wrapper {
    position: static;
    z-index: 0;
    /* width: 100%; */
}

.swiper-slide {
    color: #ffffff;
    /* width: 100%; */
    text-align: center;
    line-height: 300px;
    text-align: center;
    /* object-fit: cover; */
}

.swiper-slide img {
    width: 410px;
    height: 450px;
    border-radius: 5px;
    object-fit: cover;
    background-color: #EEEEEE;
}

.swiper-pagination {
    bottom: -40px !important;
    width: 100px;
    color: #ffffff;
}

/* ページネーションの基本スタイル */
.swiper-pagination-bullet {
    background-color: transparent;
    background-image: url(../storage/img/kintoun-remove.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: unset;
    height: 25px;
    opacity: 0.7;
    width: 25px;
}

/* 選択されているページネーション */
.swiper-pagination-bullet-active {
    background-image: url(../storage/img/orangekintoun-remove.png);
    height: 25px;
    width: 25px;
}

.swiper-button-prev {
    left: -30px !important;
}

.swiper-button-next {
    right: -30px !important;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
    bottom: 0;
    content: "";
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0;
    opacity: 0.7;
}

/* 前への矢印カスタマイズ */
.swiper-button-prev:after {
    border-bottom: 10px solid transparent;
    border-right: 10px solid #F9A355;
    border-top: 10px solid transparent;
}

/* 次への矢印カスタマイズ */
.swiper-button-next:after {
    border-bottom: 10px solid transparent;
    border-left: 10px solid #F9A355;
    border-top: 10px solid transparent;
}


/* 詳細データ */
.pointTitle {
    font-family: "Saiyan-Sans";
    /* color: rgba(0, 0, 0, 0.4); */
    color: white;
    font-size: 14px;
}

.dataArea {
    display: flex;
    justify-content: space-between;
}


.detail {
    height: 450px;
    width: 400px;
    position: relative;
}

.desctiptionArea {
    width: 400px;
}

.desctiptionArea p {
    margin-bottom: 5px;
}

.textArea {
    width: 150px;
    height: 200px;
    border: 1px dotted #EEEEEE;
    border-radius: 5px;
    padding: 5px;
}

.textArea p {
    font-size: 12px;
    color: white;
    opacity: 0.7;
}

.contentArea {
    min-height: 240px;
    /* height: 220px; */
    margin-bottom: 10px;
    border: 1px dotted #EEEEEE;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
}

.contentArea p {
    font-size: 14px;
    color: #EEEEEE;
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    .main {
        width: 100%;
        margin-top: 48px;
        margin-bottom: 20px;
    }

    .character {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .detail {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    .desctiptionArea {
        width: 95%;
    }

    .contentArea {
        margin-top: 25px;
        padding:0 5px 5px;
        min-height: 160px;
        height: auto;
        border: 1px solid #eeee;
    }

    .dataArea {
        width: 100%;
        gap: 5px;
    }

    .textArea {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: auto;
        border: 1px solid #eeee;
    }

    .pointTitle {
        font-size: 18px;
    }

    .textArea p {
        font-size: 14px;
    }

    .characterTitle {
        font-size: 20px;
        text-align: center;
        margin: 5px 0;
    }

    /* chart */
    .chartRadar {
        width: 100%;
        height: 100%;
        border: 1px solid #eeee;
    }

    .myChart {
        width: 100% !important;
        height: 100% !important;
    }

    /* swiper */
    .swiper {
        width: 90vw;
        height: 90vw;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
    }


    .swiper-button-prev {
        left: 0px !important;
    }

    .swiper-button-next {
        right: 0px !important;
    }


}