@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans.ttf');
}

.main {
    max-width: 1280px;
    margin: auto;
    margin-top: 60px;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.character-list__item {
    width: calc(16.6% - 6px);
    cursor: pointer;
    transition-duration: 0.5s;
}

.character-list__item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.character-list__item:hover {
    transform: translateY(-8px);
    transition-duration: 0.5s;
    opacity: 0.7;
}

.character-list__item p {
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
}


@media screen and (max-width: 1280px) {
    .main {
        margin: 64px 16px 0;
    }

    .character-list__item {
        width: calc(20% - 7px);
    }

}

@media screen and (max-width: 640px) {
    .main {
        margin: 60px 10px 0;
    }

    .character-list {
        column-gap: 12px;
        row-gap: 8px;
    }

    .character-list__item {
        width: calc(50% - 6px);
    }

    .character-list__item img {
        width: 100%;
        object-fit: cover;
    }

    .character-list__item p {
        font-size: 10px;
        margin-top: 3px;
    }
    
}