@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans.ttf');
}

body {
    background-image: url(../storage/img/background-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

.header-wrapper {
    max-width: 900px;
}

.main {
    max-width: 900px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 25px;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    padding-left: 0;
}

.character-list__item {
    width: calc(20% - 6.5px);
}

.character-list__item p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 3px;
    color: white;
}

.character-list__item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: #EEEEEE;
    /* border: 1px dotted rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.character-list__item img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}


/* modal */
.modal-header {
    padding: 5px 8px;
}

.modal-body {
    overflow-x: hidden;
}

.modal-title {
    font-family: "Saiyan-Sans";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 3px;
    -webkit-text-stroke: 1px #000;
}

.modal-body {
    padding: 0 5px;
}

.subtitle-label {
    font-family: "Saiyan-Sans";
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    margin-bottom: 10px;
}

.contentTitle {
    font-family: "Saiyan-Sans";
    color: rgba(0, 0, 0, 0.5);
    margin-top: 8px;
}

.modalContent {
    font-size: 12px;
    line-height: 1.6;
    margin: 8px 0;
}

#imageBox {
    display: flex;
    gap: 8px;
    width: 100%;
}

#imageBox img {
    width: calc(33.3% - 5px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.characterInfo {
    display: flex;
    gap: 400px;
    margin-bottom: 8px;
}

.characterInfo p {
    margin-bottom: 2px;
    font-size: 11px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.modal-footer a {
    font-family: "Saiyan-Sans";
    -webkit-text-stroke: 1px #000;
    text-decoration: none;
    font-size: 17px;
    margin: 1px;
    padding: 8px 30px;
    border-radius: 5px;
}

.edit {
    color: #0090D6;
    background-color: #D9E5FF;
}

.delete {
    color: #FF0000;
    background-color: #FFD5EC;
}

.edit:hover {
    background-color: #498DC5;
}

.delete:hover {
    background-color: #DA284C;
    color: #FF0000;
}

.imageBox-pc {
    display: none !important;
}



.swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 300px;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    text-align: center;
}

.footer p {
    color: white;
}


@media screen and (max-width: 700px) {
    .main {
        margin: 55px 10px 0;
    }

    .title {
        text-align: center;
        padding: 0;
        font-size: 28px;
        border: none;
        margin: 2px 0;
    }

    .character-list__item {
        width: calc(33.3% - 5.5px);
    }

    .character-list__item img {
        width: 100%;
        object-fit: cover;
    }

    .character-list__item p {
        font-size: 7px;
        opacity: 0.8;
    }

    
    /* modal */
    .modal-body {
        width: 100%;
        height: 100%;
    }

    .modal-header {
        justify-content: center;
    }

    .subtitle-label {
        font-size: 15px;
    }

    .characterInfo {
        gap: 100px;
    }

    .characterInfo p {
        font-size: 10px;
    }

}