@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans.ttf');
}

body {
    background-image: url(../storage/img/background-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 800px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 25px;
}

.title {
    font-family: "Saiyan-Sans";
    font-size: 32px;
    color: #EF7D01;
    -webkit-text-stroke: 1px #000;
    padding: 10px 0;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.characterList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    /* justify-content: space-between; */

}

.character {
    width: calc(20% - 6.5px);
}

.characterName {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
    color: white;
}

.character img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    background-color: #EEEEEE;
    /* border: 1px dotted rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.character img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}


/* modal */

.modal-header {
    padding: 3px 5px;
}

.modal-body {
    overflow-x: hidden;
}

.modal-title {
    font-family: "Saiyan-Sans";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    /* color: #EF7D01; */
    padding-top: 3px;
    -webkit-text-stroke: 1px #000;
}

.modal-body {
    padding: 0 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 2px 5px;
}


.subtitle-label {
    font-family: "Saiyan-Sans";
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* padding-bottom: 5px; */
    /* border-bottom: 2px dotted rgba(0, 0, 0, 0.2); */
}

.contentTitle {
    font-family: "Saiyan-Sans";
    color: rgba(0, 0, 0, 0.5);
    margin-top: 3px;
    /* border-bottom: 2px dotted rgba(0, 0, 0, 0.2); */
}

.modalContent {
    font-size: 10px;
    margin-bottom: 5px;
}

#imageBox {
    display: flex;
    gap: 3px;
    width: 100%;
}

#imageBox img {
    width: 155px;
    height: 155px;
    object-fit: contain;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.modalImage {
    width: 20%;
    display: none;
}

.characterInfo {
    display: flex;
    gap: 400px;
}

.characterInfo p {
    margin-bottom: 2px;
    font-size: 6px;
}

.modal-footer a {
    font-family: "Saiyan-Sans";
    -webkit-text-stroke: 1px #000;
    text-decoration: none;
    font-size: 17px;
    margin: 1px;
    padding: 2px 30px;
    border-radius: 5px;
}

.edit {
    color: #0090D6;
    background-color: #D9E5FF;
}

.delete {
    color: #FF0000;
    background-color: #FFD5EC;
}

.edit:hover {
    background-color: #498DC5;
}

.delete:hover {
    background-color: #DA284C;
    color: #FF0000;
}

.imageBox-pc {
    display: none !important;
}



.swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 300px;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    text-align: center;
}



@media screen and (max-width: 480px) {
    .main {
        width: 100%;
        margin-top: 48px;
    }

    .title {
        text-align: center;
        padding: 0;
        font-size: 28px;
        border: none;
        margin: 2px 0;
    }

    .characterList {
        column-gap: 10px;
        row-gap: 18px;
    }

    .character {
        width: calc(34vw - 10px);
        height: calc(34vw - 10px);
    }

    .character img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .characterName {
        font-size: 7px;
        opacity: 0.8;
    }

    
    /* modal */
    .modal-body {
        width: 100%;
        height: 100%;
    }

    .modal-header {
        justify-content: center;
    }

    .subtitle-label {
        font-size: 15px;
    }
    
    .modalContent {
        font-size: 12px;
    }
    
    #imagebox {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 4px;
    }
    
    #imagebox img {
        width: calc(31vw - 4px);
        height: calc(31vw - 4px);
        object-fit: cover;
    }

    .characterInfo {
        gap: 100px;
    }

    .characterInfo p {
        font-size: 10px;
    }

}