li {
    list-style: none;
}

a {
    text-decoration: none;
}

.form-control:focus {
    color: #495057;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

/* layouts */
.header {
    position: fixed;
    border-bottom: solid 1px #cfcfcf;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #EEEEEE;
}

.header-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    font-family: 'Saiyan-Sans';
    font-size: 33px;
    filter: drop-shadow(5px 5px 5px rgb(236, 123, 0));
}

.font--yellow {
    color: rgb(250, 235, 8);
    -webkit-text-stroke: 1px #000;
}

.font--red {
    color: rgb(231, 0, 18);
    -webkit-text-stroke: 1px #000;
}

.font--blue {
    -webkit-text-stroke: 1px #000;
    color: #498DC5;
}

.footer {
   position: absolute;
   bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer p {
    font-size: 14px;
    white-space:nowrap;
    color: white;
}



/* loading */
.common-loading-area__submit--hide {
    display: none;
}

.common-loading-area__submit--active {
    display: block;
    margin: 16px 0;
    text-align: center;
}

.common-loading-area__submit--active img {
    width: 40px;
}