/* header */

@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans Left Oblique.ttf');
}

.header {
    display: flex;
    /* width: 1000px;
    margin: auto; */
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    height: 50px;
    border-bottom: solid 1px #cfcfcf;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 10;
    background-color: #EEEEEE;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list img {
    width: 32px;
}

.header-logo {
    width: 35px;
    display: flex;
    font-family: 'Saiyan-Sans';
    font-size: 40px;
    filter: drop-shadow(5px 5px 5px rgb(236, 123, 0));
}

.logo-1 {
    color: rgb(250, 235, 8);
    -webkit-text-stroke: 1px #000;
}

.logo-2 {
    color: rgb(231, 0, 18);
    -webkit-text-stroke: 1px #000;
}

.logo-3 {
    -webkit-text-stroke: 1px #000;
    color: #498DC5;
}

.header-list {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-left: 30px;
}

.header-list img {
    transition-duration: 0.5s;
    cursor: pointer;
}

.header-list img:hover {
    opacity: 0.6;
    transform: translateY(-5px);
    transition-duration: 0.5s;
}


/* モーダル検索 */
.modal-content form {
    margin-bottom: 0;
}

.modal-body {
    padding: 2px;
    width: 455px;
    margin: auto;
}

.modal-header {
    padding: 5px 8px;
    background-color: #EEEEEE;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    background-color: #EEEEEE;
}

.modal-title {
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.modal-content {
    border-radius: 5px;
}

.modal-title img {
    width: 20px;
    margin-bottom: 2px;
}

.checkboxLabel {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #434343;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 #DDDDDD;
    transform: translateY(-3px);
    margin-left: 5px;
    font-size: 12px;
    height: 30px;
    width: 104px;
    text-align: center;
    margin-bottom: 10px;
}

.checkboxLabel:hover {
    box-shadow: 1px 1px 0 0 #DDDDDD;
    /* transition: 0.5s; */
    transform: translateY(-1px);
}

.freewordBox input {
    margin: 0 5px;
    margin-bottom: 10px;
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.8);
    font-size: 12px;
    padding: 4px 2px;
}

.seasonCheckBox input {
    display: none;
}

.tribeCheckBox input {
    display: none;
}

.tribeCheckBox { 
    margin-bottom: 5px;
}

.titleName {
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: 'Saiyan-Sans';
    margin: 5px 0;
}

.titleName img {
    width: 40px;
}

.titleString {
    margin-bottom: 2px;
}

.serchBtn {
    border-radius: 5px;
    font-size: 12px;
    background-color: #EA8F00;
    border: 8px;
    height: 28px;
    width: 104px;
    margin: 0;
    text-align: center;
}

.serchBtn:hover {
    background-color: #EF7D01;
    opacity: 0.6;
    transition: 0.5s;
}

.cancelBtn {
    border-radius: 5px;
    font-size: 12px;
    border: 1px;
    background-color: #0090D6;
    height: 28px;
    width: 104px;
    text-align: center;
    margin: 3px 0;
}

.cancelBtn:hover {
    background-color: #4A90CA;
    opacity: 0.7;
    transition: 0.5s;
}

.resetBtn {
    border-radius: 5px;
    font-size: 12px;
    border: 8px;
    height: 28px;
    width: 104px;
    margin: 3px 0;
    text-align: center;
    background-color: white;
    border: 1px solid #434343;
    margin: 0;
}

.resetBtn:hover {
    background-color: #FF0000;
    transition: 0.5s;
}