.main {
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
}

.header-wrapper {
    max-width: 1200px;
}

.ranking__wrap {
    margin-bottom: 16px;
}

.enquete__title {
    padding: 24px 0;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.enquete__title span:first-child {
    display: inline-block;
    transform: scale(-1, 1);
}

.character__list {
    display: flex;
    gap: 20px;
}

.character__item {
    width: calc(33.3% - 10px);
    background-color: #eee;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    transition-duration: 0.6s;
}

.character__item:hover {
    opacity: 0.8;
    transform: translateY(-16px);
    transition-duration: 0.6s;
}

.name__wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.name__wrap h4 {
    font-size: 18px;
    letter-spacing: 1.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #000;
}

.name__wrap p {
    padding: 6px;
    width: 40px;
    flex-shrink: 0;
    font-size: 14px;
    background-color: rgb(231, 0, 18);
    color: #fff;
    text-align: center;
}

.name__wrap p::after {
    position: absolute;
    left: 0px;
    top: 100%;
    content: '';
    border-left: 20px solid rgb(231, 0, 18);
    border-right: 20px solid rgb(231, 0, 18);
    border-bottom: 12px solid transparent;
}

.name__wrap span {
    font-size: 20px;
    font-weight: bold;
}

.character__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 16px;
}

.character__wrap img {
    width: 320px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    background-color: #fff;
}

.character__desc {
    width: 100%;
}

.vote {
    letter-spacing: 4px;
}

.vote span {
    font-size: 24px;
    color: rgb(231, 0, 18);
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    .main {
        margin: 60px 16px 0;
    }

    .character__wrap img {
        width: 220px;
    }
}


@media screen and (max-width: 750px) {
    .enquete__title {
        font-size: 16px;
    }

    .character__list {
        flex-direction: column;
        gap: 10px;
    }

    .character__item {
        width: 100%;
    }

    .character__wrap {
        flex-direction: column;
    }

    .character__wrap img {
        width: 320px;
    }

    .vote span {
        font-size: 20px;
    }
}