@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans.ttf');
}

/* 管理画面のmain */
.register_main {
    width: 700px;
    margin: auto;
    margin-top: 62px;
}

.register_label {
    width: 700px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.title {
    font-family: "Saiyan-Sans";
    font-size: 35px;
    color: #EF7D01;
    -webkit-text-stroke: 1px #000;
    padding: 10px 0;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
}

.info {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin-bottom: 0px;
}

.form-control {
    max-width: 400px;
}

/* 登録ボタン */
.btn_button {
    color: #fff;
    background-color: #EF7D01;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

.btn_button:hover {
    background-color: #FFAD90;
    transition: 0.5s;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
}

input:focus::placeholder {
    color: #000;
}

.errorMessage {
    display: none;
    color: red;
    font-size: 14px;
    padding-left: 3px;
}

/* 一覧テーブル */
.edit {
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.edit:hover {
    background-color: #FFDBC9;
    transition: 0.5s;
    cursor: pointer;
}

.edit img {
    width: 25px;
    opacity: 0.6;
}

.edit img:hover {
    opacity: 0.9;
}

.tribe_table {
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding: 0px 2px;
    background-color: #FFFFFF;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.tribe_table:hover {
    background-color: #FFDBC9;
    transition: 0.5s;
    cursor: pointer;
}

.tribe_table img {
    width: 25px;
    opacity: 0.6;
}

.tribe_table img:hover {
    opacity: 0.9;
}

.season_name {
    margin-bottom: 0;
}

.tribe_name {
    margin-bottom: 0;
}



/* modal */
.modal-header {
    padding: 10px 2px;
}

.modal-title {
    font-family: "MS ゴシック";
    font-size: 15px;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer {
    padding: 2px;
}

.modal-footer button {
    margin: 1px 5px;
}

form {
    margin-bottom: 0px;
}