@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans Left Oblique.ttf');
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    background-image: url(../storage/img/background-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 63px);
    overflow-y: scroll;
    position: relative;
    padding-bottom: 60px;
}

.header {
    height: 50px;
}

.header-wrapper {
    max-width: 1280px;
    height: 50px;
}

.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__list img {
    width: 28px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.header-nav__list img:hover {
    opacity: 0.6;
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.header-nav__item {
    display: none;
}

.common-loading-area__submit--active img {
    width: 24px;
}


@media screen and (max-width: 1280px) {
    .header-wrapper {
        margin: 0 16px;
    }
}


@media screen and (max-width: 640px) {
    .header-wrapper {
        width: 100%;
        margin: initial;
        padding: 0 10px;
    }

    .header-logo {
        font-size: 26px;
    }

    .header-list img {
        width: 25px;
    }

}