
@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans Left Oblique.ttf');
}

body {
    background-image: url(../storage/img/background-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

.header {
    height: 50px;
}

.header-wrapper {
    width: 1000px;
    height: 50px;
}

.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__list img {
    width: 28px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.header-nav__list img:hover {
    opacity: 0.6;
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.footer p {
    color: white;
}

/* モーダル検索 */
.modal-content form {
    margin-bottom: 0;
}

.modal-body {
    padding: 2px;
    width: 455px;
    margin: auto;
}

.modal-header {
    padding: 5px 8px;
    background-color: #EEEEEE;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    background-color: #EEEEEE;
}

.modal-footer button {
    color: white;
}

.modal-title {
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.modal-title img {
    width: 20px;
    margin-bottom: 2px;
}

.modal-content {
    border-radius: 5px;
}

.search-section__title {
    display: flex;
    align-items: center;
    font-family: 'Saiyan-Sans';
    margin: 5px 0;
}

.search-section__title img {
    width: 40px;
}

.search-section__title p {
    font-size: 16px;
    margin-bottom: 2px;
}

.search-box input {
    margin: 0 5px;
    margin-bottom: 10px;
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.8);
    font-size: 12px;
    padding: 4px 2px;
}

.search-checkbox input {
    display: none;
}

.search-checkbox__label {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #434343;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 #DDDDDD;
    transform: translateY(-3px);
    margin-left: 5px;
    font-size: 12px;
    height: 30px;
    width: 104px;
    text-align: center;
    margin-bottom: 10px;
}

.search-checkbox__label:hover {
    box-shadow: 1px 1px 0 0 #DDDDDD;
    transform: translateY(-1px);
}

.search-checkbox__label--checked {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #434343;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 #dddddd;
    transform: translateY(-3px);
    margin-left: 5px;
    font-size: 12px;
    height: 30px;
    width: 104px;
    text-align: center;
    margin-bottom: 10px;
    /* checkbox選択状態css */
    border: 1.5px solid rgb(234, 143, 0);
    transform: translateY(-1px);
    box-shadow: rgb(221, 221, 221) 1px 1px 0px 0px;
    background-color: rgb(255, 219, 201);
}

.serch-btn {
    border-radius: 5px;
    font-size: 12px;
    background-color: #EA8F00;
    border: 8px;
    height: 28px;
    width: 104px;
    margin: 0;
    text-align: center;
}

.serch-btn:hover {
    background-color: #EF7D01;
    opacity: 0.6;
    transition: 0.5s;
}

.cancel-btn {
    border-radius: 5px;
    font-size: 12px;
    border: 1px;
    background-color: #0090D6;
    height: 28px;
    width: 104px;
    text-align: center;
    margin: 3px 0;
}

.cancel-btn:hover {
    background-color: #4A90CA;
    opacity: 0.7;
    transition: 0.5s;
}

.reset-btn {
    border-radius: 5px;
    font-size: 12px;
    border: 8px;
    height: 28px;
    width: 104px;
    margin: 3px 0;
    text-align: center;
    background-color: #DA284C;
    border: 1px solid #434343;
    margin: 0;
}

.reset-btn:hover {
    background-color: #FF0000;
    transition: 0.5s;
}

.btn-close {
    display: none;
}


@media screen and (max-width: 480px) {
    body {
        min-height: 100vh;
        height: 100%;
        overflow-y: scroll;
    }

    .header {
        height: 40px;
        padding: 0 6px;
    }

    .header-wrapper {
        width: 100%;
        height: 40px;
        margin: initial;
    }

    .header-logo {
        font-size: 26px;
        width: 100%;
    }

    .header-list img {
        width: 25px;
    }


    /* 検索モーダル */
    .modal-body {
        width: 100%;
    }

    .searech-section__title p {
        margin-bottom: 2px;
        margin-top: 0px;
    }

    .search-section__title img {
        width: 35px;
    }

    .search-checkbox {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
    }

    .search-checkbox__label {
        width: 45vw;
    }

    .search-checkbox__label--checked {
        width: 45vw;
    }

    .modal-footer {
        padding: 6px 0;
        flex-direction: row-reverse;
    }

    .modal-footer button {
        width: 45vw;
    }

    .reset-btn {
        background-color: #0090D6;
    }

    .reset-btn:hover {
        background-color: #4A90CA;
    }

    .cancel-btn {
        display: none;
    }

    .btn-close {
        display: block;
        height: 5px;
    }


}